nav ul{
    background-color: rgb(220, 83, 134);
    justify-content: space-between;
    padding: 1%;
    margin: 0;
}

nav button{
    display: inline;
    padding-left: 1%;
    color: rgb(142, 2, 180);
    border: none;
    background: none;
}
